body 
{
    font-family: Verdana, Helvetica, sans-serif;
    /* czytaj czcionke verdana jesli jej nie ma to helvetica, sans-serif - bezszeryfowe - bez ozdobnikow */
    background-color: #18251c;
}
p
{
    text-indent: 20px;
    /* wcięcie tekstu */
    text-align: justify;
    color: #757575;
}
 
nav
{
    width: 100%;
    text-align: center;
}
ol
{
    text-transform: uppercase;
    list-style-type: none;
    display: inline-block; /*elementy w jednym wierszu*/
}
ol > li /*stylizacja li ktorego rodzicem jest ol*/
{
    float: left;
    font-size: 20px;
}
ol a /*stylizacja a wewnatrz ol*/
{
    text-decoration: none;
    display: block; /*zachowyje ie jak box*/
    padding: 10px;
    color: #a7a7a7
}
#content_pic1
{
    width: 1200px;
    border: solid 1px #ffffff;
    margin-right: auto;
    margin-left: auto;
}
#content_about_us
{
    width: 1200px;
    border: solid 1px #ffffff;
    margin-right: auto;
    margin-left: auto;
}
#content_skills
{
    width: 1200px;
    border: solid 1px #ffffff;
    margin-right: auto;
    margin-left: auto;
}
#content_portfolio
{
    width: 1200px;
    border: solid 1px #ffffff;
    margin-right: auto;
    margin-left: auto;
}
#content_contact
{
    width: 1200px;
    height: 900px;
    border: solid 1px #ffffff;
    margin-right: auto;
    margin-left: auto;
}
#pic1
{
    width: 1200px;
}
h2
{
    text-transform: uppercase;
    text-align: center;
    color: #757575;
}
#content_skills > div
{
    width: 298px;
    height: 298px;
    border: solid 1px #ffffff;
    float: left;
}
#content_portfolio > div
{
    width: 600px;
    height: 300px;
    border: solid 1px #ffffff;
    margin-right: auto;
    margin-left: auto;
}
#clear
{
    clear: both;
}